/*------Burger Bar------*/
.burger-btn {
	position: relative;
	// top: 2rem;
	// left: 2rem;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 100;

	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}

	&:hover {	
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
			// box-shadow: 0 0 1em #fff;
		}
	}

	&__box {
		position: relative;
		width: 4rem;
		height: 3rem;
		// background-color: #fff;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		content: '';
		position: absolute;
		left: 0;
		height: 3px;
		background-color: #fff;
		transition: width 0.3s;
	}

	&__bars {
		width: 100%;

		&::after {
			top: 1rem;
			width: 60%;
		}

		&::before {
			top: 2rem;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}

/*------Search------*/
// .search {
// 	flex: 0 0 40%;

// 	display: flex;
// 	align-items: center;
// 	justify-content: center;

// 	&__input {
// 		font-family: inherit;
// 		font-size: inherit;
// 		color: inherit;
// 		// background-color: rgba(40, 78, 202, 0.5);
// 		background-color: rgb(65, 51, 51);
// 		border: none;
// 		padding: 0.7rem 2rem;
// 		border-radius: 100px;
// 		width: 90%;
// 		transition: 0.2s;
// 		margin-right: -3.5rem;

// 		&:focus {
// 			outline: none;
// 			width: 100%;
// 			// background-color: var(--color-grey-light-3);
// 			background-color: MediumBlue;
// 		}

// 		&::-webkit-input-placeholder {
// 			font-weight: 100;
// 			color: var(--color-grey-light-4);
// 		}
// 	}

// 	&__input:focus + &__button {
// 		// background-color: var(--color-grey-light-3);
//         background-color: mediumblue;
// 	}

// 	&__button {
// 		border: none;
// 		// background-color: var(--color-grey-light-2);
//         background-color: transparent;

// 		&:focus {
// 			outline: none;
// 		}

// 		&:active {
// 			transform: translateY(2px);
// 		}
// 	}

// 	&__icon {
// 		font-size: 2rem;
// 		color: #fff;
// 	}
// }

/*------User nav------*/
.user-nav {
	align-self: stretch;

	display: flex;
	align-items: center;

	& > * {
		padding: 0 2rem;
		height: 100%;
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	& > *:hover &__icon {
		
		color: #fff;
	}

	&__icon-box {
		display: flex;
		align-items: center;
	}

	&__icon {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-decoration: none;
		font-size: 2.25rem;
		color: var(--color-grey-dark-2);
	}

	&__user-photo {
		height: 4.5rem;
		border-radius: 50%;
		margin-right: 1rem;
		border: 1px solid orange;
		box-shadow: var(--shadow-orange-main);
	}
}

/*------Right navigation------*/
.right-nav {
	font-size: 1.5rem;
	list-style: none;
	margin-top: 3.5rem;

	&__item {
		position: relative;

		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}

	/*Animation on button*/
	&__item::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 1.5px;
		// background-color: var(--color-grey-dark-1);
		background-color: orange;
		transform: scaleY(0);
		// transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
		transition: transform 0.4s;
		
	}

	&__item:hover::before {
		transform: scaleY(1);
		box-shadow: var(--shadow-orange-main);
		// width: 100%;
	}

	// &__item:active::before {
	// 	// box-shadow: var(--shadow-orange-main);
	// }
	/*---------------------*/


	&__link:link,
	&__link:visited {
		color: var(--color-grey-dark-2);
		text-decoration: none;
		// text-transform: uppercase;
		display: block;
		padding: 1.5rem 3rem;
		position: relative;
		z-index: 1;

		display: flex;
		align-items: center;
	}

	&__link:hover {
		color: white;
	}

	&__icon {
		font-size: 2rem;
		margin-right: 1rem;
		color: currentColor;
	}
}

/*------Legal Text------*/
.legal {
	font-size: 1.5rem;
	color: #fff;
	text-align: center;
	padding: 2.5rem;
}
